* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #c1c5f2;
    
}
/* #login{ */
    /* border: 2px solid white; */
    /* height: 100vh; */
    /* width: 970px; */
    /* border-radius: 30px; */
    /* margin-left: 10rem; */
/* } */
nav{
    margin-bottom: 9px;
}
.genlayout {
    max-width: 1000px;
    margin: auto;
}
.innernav > img {
position: relative;
top: 30px;

}
.innernav > a {
    text-decoration: none;
}



.navItems{
    display: flex;
    align-items: start;
    margin-left:30rem;
    gap:2rem;
    border: none;
}
form {
    border: 2px solid;
    border-radius: 10%;
    height: 80vh;
    border-color: #c1c5f2;
    background-color: #C1C5F2;
    box-shadow: #c1c5f2;
}
.container {
    padding-top: 5rem;
    height: 80vh;
    width: 9cm;
    padding-left: 3rem;
    background-color:#C1C5F2;
    /* border: 2px solid white; */
    border-radius: 30px;
    background-image: url(./image/Rectangle\ 1379.png);
}
  
.email  > input{
    outline: 0;
    border: 0;
    width: 220px;
    height: 1.8rem;
    padding: 0.5px 1px;}

.password > input{
    outline: 0;
    border: 0;
    width: 220px;
    height: 1.8rem;
    padding: 0.5px 1px;
    
}
.password  > img{
    position: relative;
    right: 22px;
    top: 3px;
    

}
.hamburger, #toggle{
    display: none;}
.container > button {
    width: 200px;
    height: 1.5rem;
    color: white;
    background-color: red;
    margin-top: 2rem;
    margin-left: 0.5rem;
    border: 0;
    border-radius: 5%;
}
.container > h6 {
    display: flex;
    justify-content: center;
    margin-right: 3rem;

}
.container > a{
    font-size: small;
    color: black;
}
.socialicons {
    display: flex;
gap: 5.2rem;
border: 3px;

}

.image {
    flex: 1;
    height: 60vh;

    
}
.image > img:nth-child(1) {
    margin-right:10px;
    height: 500px;

}
.image > img:nth-child(2){
   
    position: relative;
    bottom: 330px;
    width: 280px;
}

   section {
  padding-top: 2rem;
  display: flex;
overflow: hidden;
} 
  .socialicons {
    margin-top: 5px;
  }
  .container > h6 {
    margin-top: 5px;
  }
  .socialicons > img {
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset;
padding: 5px 0.1px;


  }
  .image {
    margin-left: 3rem;
  }
  .image > img:last-child {
    position: relative;
    bottom: 25rem;
    left: 8rem;
  }

  @media (min-width: 260px) and (max-width: 460px) {
    section {
        flex-direction: column;
        /* overflow: scroll; */
    }
    .innerNav {
        width: calc(100% - 40px);
    }
    /* code to show hamburger */
    .hamburger{
        display: block;
        margin-left: 21rem;
        font-size: 1.6rem;
        color: #2f2105;
        font-weight: 800;
        margin-bottom: 7px;
        cursor: pointer;
        position: absolute;
 }
  .navItems {
        display: none;
        position: fixed;
        width: 60%;
        padding: 1.4rem 1rem;
        top: 3.5rem;
        right: 0;
        /* z-index: 1; */
        background-color: wheat;
        opacity: 0.8;
        border-bottom: 4px solid #fff;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        display: flex;
    }
    .navItems {
        flex-direction: column;
        align-items: start; 
        } 

        #toggle:checked +.navItems{
         transform: none; }

        .image {
            display: none;
        }
        .container {
            margin-left: 20px;
            
        }

  }